@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(to bottom right, #ecd5e1, #ffffff); /* Mint green gradient */
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}
